*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.2;
}

p {
  margin-bottom: 4rem;
}

.container {
  background-color: #23424a;
}

.header {
  max-width: 50%;
  padding: 100px 75px;
}

.btn {
  color: #072a2d;
  padding: 12px 40px;
  display: inline-block;
  border-radius: 999px;
  background-color: #38cfd9;
  text-decoration: none;
  font-weight: 700;
}
