/* =============
   ToC 

   1. CSS Properties 
   2. Reset
   3. Links 
   4. Header
   5. Main Sections 
   6. Aside 
   7. Footer 
   8. Wrappers 
   9. Media Queries
   10. 700px - 999px
   11. 1000px+ 
   ============= */

/* =============
   1. CSS Properties 
   ============= */

:root {
  --nav-bg: #2e323f;
  --dark-bg: #3b4050;
  --beige-bg: #6f737f;
  --white-bg: #ffffff;
  --title-color: #a59678;
  --text-on-dark-color: #f1f1f1;
}

/* =============
   2. Reset 
   ============= */

*,
*::before,
*::after {
  /*Box model stuff*/
  margin: 0;
  /*Miscellaneous*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  font-size: 56%;
}

body {
  /*Box model stuff*/
  min-height: 100vh;
  /*Typography stuff*/
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  /*Miscellaneous*/
  font-optical-sizing: auto;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: var(--title-color);

  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Remove list styles */
ul[role="list"],
ol[role="list"],
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* =============
   3. Links 
   ============= */

a {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;

  text-decoration: none;
  color: var(--white-bg);
}

a:hover,
a:active {
  opacity: 65%;
}

a:visited {
  color: var(--white-bg);
}

/* =============
   4. Header 
   ============= */

.nav {
  padding-block: 1em;

  align-items: center;
  font-size: 1.8rem;

  &.nav--top {
    background: var(--nav-bg);
  }
}

.nav > .container {
  display: flex;
  justify-content: space-between;
}

.nav__group {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  justify-content: flex-end;
}

.nav__list {
  display: flex;
  gap: 2em;
}

.nav__group .nav__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.nav__btn {
  padding: 0.25em 1em;
  background: var(--title-color);
  border-radius: 100px;
}

.nav__item {
  display: flex;
  width: max-content;
}

.nav__logo {
  flex-shrink: 0.5;
}

.hero {
  background: var(--dark-bg);
  font-size: 2.4rem;
  padding: 2em 0;

  text-align: right;

  .hero__title {
    font-size: 9rem;

    line-height: 1em;

    text-align: left;

    .title__white {
      color: var(--white-bg);
    }

    .title__tan {
      color: var(--title-color);
    }
  }

  .hero__text {
    color: var(--white-bg);
    margin-block: 4rem;

    text-align: left;
    width: 82%;
  }

  .hero__cta {
    text-transform: uppercase;
    padding: 0.2em 1em;
    background: var(--title-color);
    border-radius: 100px;
  }
}

/* =============
   5. Main Sections 
   ============= */

.section-one {
  background: var(--text-on-dark-color);
  text-align: center;
  text-wrap: balance;

  padding-block: 3.2em;

  .box {
    margin-block-end: 3rem;
  }

  .box:last-child {
    margin-block-end: 0;
  }

  .section-one__title {
    font-size: 3rem;
    margin-block-end: 1rem;
  }

  .section-one__text {
    font-size: 1.8rem;
    margin-block-end: 3rem;

    color: var(--dark-bg);
  }

  .section-one__text:last-child {
    margin-block-end: 0;
  }
}

.section-two {
  background: var(--white-bg);

  padding-block: 2.5em;

  .section-two__title {
    font-size: 3.6rem;
    margin-block-end: 2rem;
  }

  .section-two__text {
    font-size: 2.1rem;
    margin-block-end: 2.5rem;

    color: var(--dark-bg);
  }

  .section-two__img {
    margin-block-end: 4rem;
  }
}

/* =============
   6. Aside 
   ============= */

.aside {
  text-align: center;
  text-wrap: balance;

  .aside-box {
    padding-block: 3rem;
    padding-inline: 2.7rem;
    background: var(--dark-bg);
    margin-block-end: 2rem;

    .aside-box__title {
      color: var(--white-bg);
      font-size: 4rem;
      margin-block-end: 3rem;
    }

    .aside-box__text {
      color: var(--text-on-dark-color);
      font-size: 3rem;
    }
  }
}

/* =============
   7. Footer 
   ============= */

.footer {
  background: var(--dark-bg);
  padding-block: 4rem;

  .footer__title {
    color: var(--white-bg);
    font-size: 6rem;
    margin-block-end: 4rem;
  }

  .cols--title {
    font-size: 2.7rem;
    margin-block: 2rem;
  }

  .cols--text {
    font-size: 1.9rem;
    color: var(--text-on-dark-color);
    margin-block-end: 4rem;
  }

  .nav {
    padding: 0;
  }

  .nav__list--footer {
    flex-wrap: wrap;
    row-gap: 1.5rem;

    .nav__item {
      a,
      a:visited {
        color: var(--text-on-dark-color);

        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 1.9rem;
      }
    }
  }
}

/* =============
   8. Wrappers 
   ============= */

.container {
  width: 90%;
  max-width: 120rem;
  /* background: #fff; */

  margin: 0 auto;
}

/* =============
   9. Media Queries 
   ============= */

/* =============
   10. 700px - 999px
   ============= */
@media (min-width: 700px) {
  html {
    font-size: 62.5%;
  }

  .section-one {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      text-align: left;

      .box--3 {
        grid-column: span 2;
        width: 50%;
        margin-left: auto;
      }
    }
  }

  .section-two__img {
    height: 30vw;
    width: 100%;

    object-fit: cover;
  }

  .aside {
    font-size: 0.2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;

    .aside-box {
      .aside-box__title {
        font-size: 2.7rem;
        margin-block-end: 2rem;
      }

      .aside-box__text {
        font-size: 1.8rem;
      }
    }
  }

  .footer {
    .container {
      .footer_cols {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .nav__list {
          padding: 0;

          flex-direction: column;
        }

        .cols--0 {
          grid-column: span 3;
          width: 60%;
          margin-block-end: 2rem;
        }

        .cols--1 {
          grid-column: span 3;
          width: 65%;
        }

        .cols--text {
          margin-block-end: 2rem;
          text-wrap: balance;
        }
      }
    }
  }
}

/* =============
   11. 1000px+
   ============= */

@media (min-width: 1000px) {
  .header {
    min-height: 100vh;
    background: var(--dark-bg);
  }

  .nav {
    padding-block: 0.75em;
  }

  .hero {
    .container {
      display: grid;

      grid-template-columns: 4fr 5fr;

      gap: 3em;
      text-align: left;

      padding-block: 3em;

      .hero__title {
        font-size: 8.5rem;
      }

      .hero__right {
        align-self: end;
      }

      .hero__cta {
        font-size: 3rem;
      }
    }
  }

  .section-one {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10rem;

      text-align: center;
      text-wrap: balance;

      padding-block: 5rem;

      .section-one__text {
        font-size: 2rem;
      }

      .box {
        margin-block-end: 0;
      }

      .box--3 {
        grid-column: span 1;
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .section-two {
    .container {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 16rem;

      padding-block: 8rem;
    }

    .section-two__box {
    }

    .section-two__title {
      font-size: 4rem;
    }

    .section-two__text {
      font-size: 2.4rem;
      margin-block-end: 6rem;
    }

    .section-two__text:last-child {
      margin-block-end: 0;
    }

    .section-two__img {
      height: auto;
      width: 100%;

      object-fit: fill;
    }

    .aside {
      grid-template-columns: 1fr;
      align-content: start;

      .aside-box__title {
        font-size: 3rem;
      }

      .aside-box__text {
        font-size: 2.2rem;
      }
    }
  }

  .footer {
    padding-block: 8rem 10rem;

    .container {
      .footer_cols {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .nav__list {
          padding: 0;

          flex-direction: column;
        }

        .nav__list--footer {
          row-gap: 3.5rem;
        }

        .cols--0 {
          grid-column: span 5;
          width: 100%;
          margin-block-end: 5rem;

          text-align: center;
        }

        .cols--1 {
          grid-column: span 2;
          width: 100%;
        }

        .cols--title {
          margin-block: 3rem;
        }

        .cols--text {
          margin-block-end: 0;
          text-wrap: balance;
          line-height: 1.6em;
        }
      }
    }
  }
}
